.filters-grid {
	grid-template-columns: minmax(0, 1fr) minmax(0, 12rem) minmax(0, 12rem) auto;
}

@media (max-width: 767px) {
	.filters-grid {
		grid-template-columns: 1fr;
	}
}

@media (min-width: 768px) and (max-width: 960px) {
	.filters-grid {
		grid-template-columns: minmax(0, 1fr) minmax(0, 10rem) minmax(0, 10rem) auto;
	}
}
